<nav>
    <li>
        <img src="../img/midertigt_logo.jpg" alt="CA Logo">
    </li>
    <li>
        <a href src="#" alt="Nav link"> nav link</a>
    </li>
    <li>
        <a href="https://www.ca.dk/?gclid=Cj0KCQjwqP2pBhDMARIsAJQ0CzrVTzxO3BMrTq9TP6qOSM4xWn-U9a8DOqkXqe-49k0fcNPVLk27vWUaAhd-EALw_wcB" target="_blank"> Random link til evt. sociale medier</a>
    </li>
    <p>her er header</p>
</nav>