---
import Header from "../componets/Header.astro";
import Footer from "../componets/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CA kampagner site</title>
	</head>
	<body>
		<header>
			<Header>
		</header>
		
		<main>
			<h1>CA kampagne site h1</h1>
		</main>
		<footer>
			<Footer>
		</footer>
		
	</body>
</html>
